---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import BorderTop from '../components/BorderTop.astro';
import BorderBottom from '../components/BorderBottom.astro';
import BackgroundSquare from '../components/BackgroundSquare.astro';

const colorBig = '#000'
const colorSmall = '#9ca3af'

const distBig = 0.75
const distSmall = 0.5
---

<Layout title="Welcome to Astro.">
	<Background>
		<div class="w-full h-full bg-blue- col-span-5 row-span-2 relative grid gap-x-2" style="grid-template-columns: 1.8fr 1fr;">

			<div class="relative bg-green- w-full">
				<div 
					class="w-full aspect-square max-w-[200px] absolute top-0 left-1/2 -translate-x-1/2 rounded-b-full border-2 border-black border-t-0 md:max-w-[170px]"
					style="animation: slide 500ms both;"
				>
					<BorderTop inset={distBig} colors={colorBig} nameAnimation='slide' delay='100'/>
					<BorderTop inset={distBig*2} colors={colorBig} nameAnimation="slide" delay='200'/>
					<BorderTop inset={distBig*3} colors={colorBig} nameAnimation="slide" delay='300'/>
					<BorderTop inset={distBig*4} colors={colorBig} nameAnimation="slide" delay='400'/>
				</div>
			</div>

			<div class="relative">
				<div 
					class="w-full aspect-square max-w-[80px] absolute top-0 left-0 rounded-b-full border-2 border-gray-400 border-t-0"
					style="animation: slide 500ms both;"
				>
					<BorderTop inset={distSmall} colors={colorSmall} nameAnimation='slide' delay='100'/>
					<BorderTop inset={distSmall*2} colors={colorSmall} nameAnimation="slide" delay='200'/>
					<BorderTop inset={distSmall*3} colors={colorSmall} nameAnimation="slide" delay='300'/>
				</div>
			</div>
		</div>

		<div class="bg-red col-span-5 row-span-2 col-start-8 row-start-7 grid gap-x-2" style="grid-template-columns: 1fr 1.8fr">

			<div class="relative">
				<div 
					class="w-full aspect-square max-w-[80px] absolute bottom-0 right-0 rounded-t-full border-2 border-gray-400 border-b-0"
					style="animation: slide-inverse 500ms both;"
				>
					<BorderBottom inset={distSmall} colors={colorSmall} nameAnimation='slide-inverse' delay="100"/>
					<BorderBottom inset={distSmall*2} colors={colorSmall} nameAnimation ="slide-inverse" delay="200" />
					<BorderBottom inset={distSmall*3} colors={colorSmall} nameAnimation ="slide-inverse" delay="300" />
				</div>
			</div>

			<div class="relative w-full">
				<div 
					class="w-full aspect-square max-w-[200px] absolute bottom-0 left-1/2 -translate-x-1/2 rounded-t-full border-2 border-black border-b-0 md:max-w-[150px]"
					style="animation: slide-inverse 500ms both;"
				>
					<BorderBottom inset={distBig} colors={colorBig} nameAnimation ='slide-inverse' delay='100' />
					<BorderBottom inset={distBig*2} colors={colorBig} nameAnimation ='slide-inverse' delay='200' />
					<BorderBottom inset={distBig*3} colors={colorBig} nameAnimation ='slide-inverse' delay='300' />
					<BorderBottom inset={distBig*4} colors={colorBig} nameAnimation ='slide-inverse' delay='400' />
				</div>
			</div>
		</div>

		<div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex justify-center flex-col items-center gap-2 font-light" style="animation: scale-zoom 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate both;">
			<p>Porfolio</p>
			<h1 class="text-5xl font-playfair font-semibold uppercase tracking-widest lg:text-6xl" style="transition:font-size 0.5s;">PaulDev</h1>
			<span>Development</span>
		</div>

		<div class="w-full h-full col-span-6 col-start-7 row-span-4">
			<BackgroundSquare>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-3 row-span-3 col-start-2 row-start-2 animate-move"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-4 row-span-4 col-start-6 row-start-3 animate-move" style="animation-delay: 100mx;"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-1 row-start-6 animate-move" style="animation-delay: 200ms;"></div>
				<div class="h-[130%] aspect-square border-2 border-gray-300 rounded-lg col-start-6 row-start-9 animate-move" style="animation-delay: 300ms;"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-10 row-start-9 animate-move" style="animation-delay: 400ms;"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-start-8 row-start-11 animate-move" style="animation-delay: 500ms;"></div>
			</BackgroundSquare>
		</div>
		<div class="w-full h-full col-span-6 row-span-4 col-start-1 row-start-5 rotate-180">
			<BackgroundSquare>
				<div class="animate-move h-full aspect-square border-2 border-gray-300 rounded-lg col-span-3 row-span-3 col-start-2 row-start-2"></div>
				<div class="animate-move h-full aspect-square border-2 border-gray-300 rounded-lg col-span-4 row-span-4 col-start-6 row-start-3" style="animation-delay: 100ms;"></div>
				<div class="animate-move h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-1 row-start-6" style="animation-delay: 200ms;"></div>
				<div class="animate-move h-[130%] aspect-square border-2 border-gray-300 rounded-lg col-start-6 row-start-9" style="animation-delay: 300ms;"></div>
				<div class="animate-move h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-10 row-start-9" style="animation-delay: 400ms;"></div>
				<div class="animate-move h-full aspect-square border-2 border-gray-300 rounded-lg col-start-8 row-start-11" style="animation-delay: 500ms;"></div>
			</BackgroundSquare>
		</div>
	</Background>
</Layout>

<style>
	.animate-move {
		animation: move-smooth 3s ease-in-out infinite alternate;
	}
	@keyframes move-smooth {
		25%{
			transform: translateX(2px) translateY(2px);
		}
		50%{
			transform: translateX(0) translateY(2px);
		}
		75%{
			transform: translateX(2px) translateY(0);
		}
		100%{
			transform: translateX(0) translateY(0);
		}
	}
	@keyframes scale-zoom {
		0%{
			opacity: 0;
			scale: 0;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes slide {
		0%{
			translate: 0 -100%;
		}
		100% {
			translate: 0 0;
		}
	}
	
	@keyframes slide-inverse {
		0%{
			translate: 0 100%;
		}
		100% {
			translate: 0 0;
		}
	}
</style>