---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import BorderTop from '../components/BorderTop.astro';
import BorderBottom from '../components/BorderBottom.astro';
import BackgroundSquare from '../components/BackgroundSquare.astro';

const colorBig = '#000'
const colorSmall = '#9ca3af'

const distBig = 0.75
const distSmall = 0.5
---

<Layout title="Welcome to Astro.">
	<Background>
		<div class="w-full h-full bg-blue- col-span-5 row-span-2 relative grid gap-x-2" style="grid-template-columns: 1.8fr 1fr;">

			<div class="relative bg-green- w-full">
				<div 
					class="w-full aspect-square max-w-[200px] absolute top-0 left-1/2 -translate-x-1/2 rounded-b-full border-2 border-black border-t-0"
				>
					<BorderTop inset={distBig} colors={colorBig} />
					<BorderTop inset={distBig*2} colors={colorBig} />
					<BorderTop inset={distBig*3} colors={colorBig} />
					<BorderTop inset={distBig*4} colors={colorBig} />
				</div>
			</div>

			<div class="relative">
				<div 
					class="w-full aspect-square max-w-[80px] absolute top-0 left-0 rounded-b-full border-2 border-gray-400 border-t-0"
				>
					<BorderTop inset={distSmall} colors={colorSmall} />
					<BorderTop inset={distSmall*2} colors={colorSmall} />
					<BorderTop inset={distSmall*3} colors={colorSmall} />
				</div>
			</div>
		</div>

		<div class="bg-red col-span-5 row-span-2 col-start-8 row-start-7 grid gap-x-2" style="grid-template-columns: 1fr 1.8fr">

			<div class="relative">
				<div 
					class="w-full aspect-square max-w-[80px] absolute bottom-0 right-0 rounded-t-full border-2 border-gray-400 border-b-0"
				>
					<BorderBottom inset={distSmall} colors={colorSmall} />
					<BorderBottom inset={distSmall*2} colors={colorSmall} />
					<BorderBottom inset={distSmall*3} colors={colorSmall} />
				</div>
			</div>

			<div class="relative w-full">
				<div 
					class="w-full aspect-square max-w-[200px] absolute bottom-0 left-1/2 -translate-x-1/2 rounded-t-full border-2 border-black border-b-0"
				>
					<BorderBottom inset={distBig} colors={colorBig} />
					<BorderBottom inset={distBig*2} colors={colorBig} />
					<BorderBottom inset={distBig*3} colors={colorBig} />
					<BorderBottom inset={distBig*4} colors={colorBig} />	
				</div>
			</div>
		</div>

		<div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 flex justify-center flex-col items-center gap-2 font-light">
			<p>Porfolio</p>
			<h1 class="text-5xl font-playfair font-semibold uppercase tracking-widest lg:text-6xl" style="transition:font-size 0.5s">PaulDev</h1>
			<span>Development</span>
		</div>

		<div class="w-full h-full col-span-6 col-start-7 row-span-4">
			<BackgroundSquare>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-3 row-span-3 col-start-2 row-start-2"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-4 row-span-4 col-start-6 row-start-3"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-1 row-start-6"></div>
				<div class="h-[130%] aspect-square border-2 border-gray-300 rounded-lg col-start-6 row-start-9"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-10 row-start-9"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-start-8 row-start-11"></div>
			</BackgroundSquare>
		</div>
		<div class="w-full h-full col-span-6 row-span-4 col-start-1 row-start-5 rotate-180">
			<BackgroundSquare>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-3 row-span-3 col-start-2 row-start-2"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-4 row-span-4 col-start-6 row-start-3"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-1 row-start-6"></div>
				<div class="h-[130%] aspect-square border-2 border-gray-300 rounded-lg col-start-6 row-start-9"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-span-2 row-span-2 col-start-10 row-start-9"></div>
				<div class="h-full aspect-square border-2 border-gray-300 rounded-lg col-start-8 row-start-11"></div>
			</BackgroundSquare>
		</div>
	</Background>
</Layout>